{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6 mx-auto">
        <h1 class="display-5 text-center">Madlibs</h1>
    </div>
    <div class="col-md-6 mx-auto justify-content-center">
        <form action="/form" class="form-inline">
            <label for="story_choice" class="text-center my-2 mr-2">Choose a story:</label>
            <div class="input-group">
                <select name="story_choice" class="form-control form-inline custom-select">
                    <option value="tale">A Tale of a Place</option>
                    <option value="gossip">Don't Eat Too Much</option>
                </select>
                <div class="input-group-append">
                    <button class="btn btn-sm btn-outline-primary">Go!</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}